<ion-view view-title="Training Details">
  <ion-content class="padding">
    <p style="background-color:white;color:black; padding:15px ; " >
      <b> Activity</b>      :      <i>  {{training.activity}}</i> <br>
      <b>Start Date</b>    :   <i>   {{training.startdate}}</i>  <br>
      <b>End Date</b>      :     <i> {{training.enddate}}</i>  <br>
      <b>Participation</b> : <i>  {{training.participation}}</i>  <br>
      <b>Trainer</b>       :      <i> {{training.trainer}}</i>  <br>
      <b>Timings</b>       :       <i>  {{training.timings}}</i>  <br>
    </p>
  </ion-content>
</ion-view>

